* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Righteous', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;

}

#gameboard {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	margin-top: 15px;
}



.card {
	width: 140px;
	height: 140px;
	transform-style: preserve-3d;
	transition: transform .5s;
	position: relative;
}

.card_front, .card_back {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.45);
	backface-visibility: hidden;
	position: absolute;

}

.icon {
	width: 80%;
	height: 80%;
}

.flip {
	transform: rotateY(180deg);
}
.card_front {
	background-color: #A63232;
	transform: rotateY(180deg);
}

.card_back {
	background-color: #0477BF;

}

#gameover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	color: #fff;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 3.13rem;
	flex-direction: column;

}

#restart {
	padding: 20px;
	font-size: 1.3rem;
	margin-top: 10px;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-family: 'Righteous', cursive;
	background-color: #D98E04;

}

@media(max-width: 768px) {
	.card {
		width: 100px;
		height: 100px;

	}

	#gameboard {

		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-row-gap: 10px;
		grid-column-gap: 10px;
		margin-top: 17%;
	}

	#gameover {

		font-size: 1.5rem;

	}

@media(max-width: 435px) {

		body {
			padding: 10px;
		}

		.card {
			width: 80px;
			height: 80px;

		}

		#gameboard {

			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(5, 1fr);
			grid-column-gap: 8px;
			grid-row-gap: 8px;
			margin-top: 26%;

		}

		#gameover {

			font-size: .9rem;

		}

		#restart {
			padding: 10px;
			font-size: 1.2rem;
			margin-top: 40px;

		}

	}

@media(max-width: 320px) {

		body {
			padding: 10px;
		}
		.card {
			width: 60px;
			height: 60px;

		}

		#gameboard {

			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(5, 1fr);
			grid-column-gap: 5px;
			grid-row-gap: 5px;
			margin-top: 50%;

		}

		#gameover {

			font-size: .6rem;


		}

		#restart {
			padding: 10px;
			font-size: 1rem;
			margin-top: 40px;

		}

	}
